@use '../utils/mixins';
body {
    @include mixins.flex-column-center;
    font-family: 'Manrope';
    width: 100vw;
    height: 100vh;
    gap: 8%;
    font-size: 15px;
    background: linear-gradient(
        to bottom,
        hsl(224, 65%, 95%) 0%,
        hsl(224, 65%, 95%) 50%,
        hsl(230, 100%, 99%) 50%,
        hsl(230, 100%, 99%) 100%
    );
    background-attachment: fixed;
    position: relative;
}