body {
    font-family: 'Manrope';
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* justify-content: space-around; */
    align-items:center;
    gap: 8%;
    font-size: 15px;
    background: linear-gradient(
        to bottom,
        hsl(224, 65%, 95%) 0%,
        hsl(224, 65%, 95%) 50%,
        hsl(230, 100%, 99%) 50%,
        hsl(230, 100%, 99%) 100%
    );
    background-attachment: fixed;
    position: relative;
}